*.pyc
.idea/SeriousCode.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
codes/.idea/codes.iml
codes/.idea/misc.xml
codes/.idea/modules.xml
codes/.idea/workspace.xml
documents/沟通文档/总控模块与资源管理器模块交互规范文档.docx
documents/沟通文档/总控模块接口需求整理.pdf
documents/沟通文档/控制模块与戴熹交互规范文档.docx
documents/项目文档/4.详细设计说明书 TMP-DDR.doc
documents/项目文档/Declaration.txt
documents/项目文档/Serious项目组开题报告.docx
documents/项目文档/游戏事件人物管理和场景管理器处理流程图.docx
home/images/home_bg.png
home/images/logo.png
home/标注/home_MarkMan.png
home/视觉稿/home.png
models/Animation_1/Declaration.txt
models/Animation_2/.mayaSwatches/Scene.mb.swatches
models/Animation_2/Declaration.txt
models/Animation_2/Girl_Death.mb
models/Animation_2/Scene.mb
models/Animation_3/Declaration.txt
models/Brooch_Model/Brooch.mb
models/Brooch_Model/pictures/gold.jpg
models/Brooch_Model/pictures/ruby.jpg
models/Chest_Model/Chest1.mb
models/Chest_Model/Chest2.mb
models/Chest_Model/Chest3.mb
models/Chest_Model/actions/Chest1_Open.mb
models/Chest_Model/actions/Chest2_Open.mb
models/Chest_Model/actions/Chest3_Open.mb
models/Chest_Model/pictures/WoodChest.jpg
models/Chest_Model/pictures/WoodChest1.jpg
models/Chest_Model/pictures/WoodChest2.jpg
models/Coin_Model/Coin.mb
models/Coin_Model/pictures/coin.jpg
models/Declaration.txt
models/Devil_Model/Devil_Model.mb
models/Devil_Model/pictures/lava.jpg
models/GIRL_Model/.mayaSwatches/GIRL with crv.mb.swatches
models/GIRL_Model/.mayaSwatches/GIRLv2.mb.swatches
models/GIRL_Model/GIRL with crv.mb
models/GIRL_Model/GIRLv1.mb
models/GIRL_Model/GIRLv2.mb
models/GIRL_Model/actions/Girl_Walk.mb
models/GIRL_Model/prictures/babygirl.jpg
models/GIRL_Model/prictures/flower.jpg
models/GIRL_Model/prictures/flower1.jpg
models/GIRL_Model/prictures/hair.jpg
models/GIRL_Model/prictures/shoe.jpg
models/GIRL_Model/prictures/shoehead.jpg
models/GIRL_Model/prictures/skin.jpg
models/GIRL_Model/prictures/skirt1.jpg
models/HookZombie_Model/HookZombie.mb
models/HookZombie_Model/HookZombie_with_controler.mb
models/HookZombie_Model/actions/HookZombie_Defence1.mb
models/HookZombie_Model/actions/HookZombie_Defence2.mb
models/HookZombie_Model/actions/HookZombie_DiePose.mb
models/HookZombie_Model/actions/HookZombie_OffencePose.mb
models/HookZombie_Model/actions/HookZombie_OffencePose2.mb
models/HookZombie_Model/actions/HookZombie_Pose.mb
models/HookZombie_Model/actions/HookZombie_Walk_v2.mb
models/HookZombie_Model/pictures/Apron.jpg
models/HookZombie_Model/pictures/Hook.png
models/HookZombie_Model/pictures/HookZombie.bmp
models/HookZombie_Model/pictures/Jeans.jpg
models/Hunter_Model/actions/.mayaSwatches/Hunter_Shoot.mb.swatches
models/Hunter_Model/actions/.mayaSwatches/hunter_Alarm.mb.swatches
models/Hunter_Model/actions/.mayaSwatches/hunter_Alarm1.mb.swatches
models/Hunter_Model/actions/.mayaSwatches/hunter_Alarm2.mb.swatches
models/Hunter_Model/actions/.mayaSwatches/hunter_Attack.mb.swatches
models/Hunter_Model/actions/.mayaSwatches/hunter_Run.mb.swatches
models/Hunter_Model/actions/.mayaSwatches/hunter_RunBackWithGun.mb.swatches
models/Hunter_Model/actions/.mayaSwatches/hunter_RunWithGun.mb.swatches
models/Hunter_Model/actions/.mayaSwatches/hunter_WALK.mb.swatches
models/Hunter_Model/actions/.mayaSwatches/hunter_WithGun.mb.swatches
models/Hunter_Model/actions/.mayaSwatches/hunter_WithGun1.mb.swatches
models/Hunter_Model/actions/.mayaSwatches/hunter_WithGunBackDefenceUpdate.mb.swatches
models/Hunter_Model/actions/hunter_Alarm1.mb
models/Hunter_Model/actions/hunter_Alarm2.mb
models/Hunter_Model/actions/hunter_Alarm3.mb
models/Hunter_Model/actions/hunter_Attack1.mb
models/Hunter_Model/actions/hunter_Attack2.mb
models/Hunter_Model/actions/hunter_Attack3.mb
models/Hunter_Model/actions/hunter_RunBackWithGun1.mb
models/Hunter_Model/actions/hunter_RunBackWithGun2.mb
models/Hunter_Model/actions/hunter_RunBackWithGun3.mb
models/Hunter_Model/actions/hunter_RunWithGun1.mb
models/Hunter_Model/actions/hunter_RunWithGun2.mb
models/Hunter_Model/actions/hunter_RunWithGun3.mb
models/Hunter_Model/actions/hunter_WALK.mb
models/Hunter_Model/actions/hunter_WithGun1.mb
models/Hunter_Model/actions/hunter_WithGun2.mb
models/Hunter_Model/actions/hunter_WithGun3.mb
models/Hunter_Model/actions/hunter_WithGunBackDefence.mb
models/Hunter_Model/actions/hunter_WithGunBackDefenceUpdate.mb
models/Hunter_Model/actions/hunter_WithGunLeftDefence.mb
models/Hunter_Model/actions/hunter_WithGunLeftDefenceUpdate.mb
models/Hunter_Model/actions/hunter_WithGunPose.mb
models/Hunter_Model/actions/hunter_WithGunRightDefence.mb
models/Hunter_Model/finalhunter.mb
models/Hunter_Model/hunter.mb
models/Hunter_Model/pictures/Boots.jpg
models/Hunter_Model/pictures/BootsDecoration.jpg
models/Hunter_Model/pictures/CuffLeather.jpg
models/Hunter_Model/pictures/Human.jpg
models/Hunter_Model/pictures/Leather.jpg
models/Hunter_Model/pictures/Leather1.jpg
models/Hunter_Model/pictures/Leather2.jpg
models/Hunter_Model/pictures/Trousers.jpg
models/Hunter_Model/pictures/Tshirt.jpg
models/Hunter_Model/pictures/Weapon1.jpg
models/Hunter_Model/pictures/Weapon2.jpg
models/Hunter_Model/pictures/Weapon3.jpg
models/Hunter_Model/pictures/sportive04_m_25.jpg
models/ModelEGGS/Brooch/Brooch.egg
models/ModelEGGS/Chest/Chest1.egg
models/ModelEGGS/Chest/Chest1_Open.egg
models/ModelEGGS/Chest/Chest2.egg
models/ModelEGGS/Chest/Chest2_Open.egg
models/ModelEGGS/Chest/Chest3.egg
models/ModelEGGS/Chest/Chest3_Open.egg
models/ModelEGGS/Coin/Coin.egg
models/ModelEGGS/Devil/Devil_Model.egg
models/ModelEGGS/Girl/GIRL_Pose.egg
models/ModelEGGS/HookZombie/HookZombie_Defence1.egg
models/ModelEGGS/HookZombie/HookZombie_Defence2.egg
models/ModelEGGS/HookZombie/HookZombie_DiePose.egg
models/ModelEGGS/HookZombie/HookZombie_OffencePose.egg
models/ModelEGGS/HookZombie/HookZombie_OffencePose2.egg
models/ModelEGGS/HookZombie/HookZombie_Pose.egg
models/ModelEGGS/HookZombie/HookZombie_Walk_v2.egg
models/ModelEGGS/Hunter/backDefenceActionUpdate1.egg
models/ModelEGGS/Hunter/hunter_AlarmPos1.egg
models/ModelEGGS/Hunter/hunter_AlarmPos2.egg
models/ModelEGGS/Hunter/hunter_AlarmPos3.egg
models/ModelEGGS/Hunter/hunter_Attack1.egg
models/ModelEGGS/Hunter/hunter_Attack2.egg
models/ModelEGGS/Hunter/hunter_Attack3.egg
models/ModelEGGS/Hunter/hunter_RunBackWithGun1.egg
models/ModelEGGS/Hunter/hunter_RunBackWithGun2.egg
models/ModelEGGS/Hunter/hunter_RunBackWithGun3.egg
models/ModelEGGS/Hunter/hunter_RunWithGun1.egg
models/ModelEGGS/Hunter/hunter_RunWithGun2.egg
models/ModelEGGS/Hunter/hunter_RunWithGun3.egg
models/ModelEGGS/Hunter/hunter_WithGunBackDefenceUpdate.egg
models/ModelEGGS/Hunter/hunter_WithGunLeftDefenceUpdate.egg
models/ModelEGGS/Hunter/hunter_WithGunRightDefence.egg
models/ModelEGGS/Hunter/leftDefenceActionUpdate.egg
models/ModelEGGS/Hunter/rightDefenceActionUpdate.egg
models/ModelEGGS/Nun/NUNV_Pose.egg
models/ModelEGGS/Nun/NUNV_Walk.egg
models/ModelEGGS/Outer/Outer.egg
models/ModelEGGS/Outer/Outer_v2.egg
models/ModelEGGS/Stealer/StealerWithPos.egg
models/ModelEGGS/WifeZombie/WifeZombie_Attack.egg
models/ModelEGGS/WifeZombie/WifeZombie_Attack2.egg
models/ModelEGGS/WifeZombie/WifeZombie_Attack3.egg
models/ModelEGGS/WifeZombie/WifeZombie_Beaten.egg
models/ModelEGGS/WifeZombie/WifeZombie_Run.egg
models/ModelEGGS/WifeZombie/WifeZombie_Stand.egg
models/ModelEGGS/WifeZombie/WifeZombie_Walk.egg
models/ModelEGGS/Zombie/Zombie_Defence.egg
models/ModelEGGS/Zombie/Zombie_Defence_2.egg
models/ModelEGGS/Zombie/Zombie_Offence.egg
models/ModelEGGS/Zombie/Zombie_Offence2.egg
models/ModelEGGS/Zombie/Zombie_Pose.egg
models/ModelEGGS/Zombie/Zombie_Walk.egg
models/NUN_Model/.mayaSwatches/NUNV1.mb.swatches
models/NUN_Model/NUNV1.mb
models/NUN_Model/NUNV12.mb
models/NUN_Model/NUNV_with_crv.mb
models/NUN_Model/actions/NUNV_Walk.mb
models/NUN_Model/pictures/.mayaSwatches/black.jpg.swatch
models/NUN_Model/pictures/.mayaSwatches/white.jpg.swatch
models/NUN_Model/pictures/black.jpg
models/NUN_Model/pictures/nun.jpg
models/NUN_Model/pictures/white.jpg
models/Outer_Model/.mayaSwatches/Outer.mb.swatches
models/Outer_Model/Outer.mb
models/Outer_Model/Outer_v2.mb
models/Outer_Model/pictures/Rock1.png
models/Outer_Model/pictures/Rock2.png
models/Outer_Model/pictures/Rock3.png
models/Outer_Model/pictures/Tomb1.jpg
models/Outer_Model/pictures/Tomb2.jpg
models/Outer_Model/pictures/Tomb3.jpg
models/Outer_Model/pictures/firstTerrain.jpg
models/Outer_Model/pictures/grass2.png
models/Outer_Model/pictures/sky2.jpg
models/Rock_Model/Rock1.mb
models/Rock_Model/Rock2.mb
models/Rock_Model/Rock3.mb
models/Rock_Model/Tomb.mb
models/Rock_Model/pictures/Rock1.png
models/Rock_Model/pictures/Rock2.png
models/Rock_Model/pictures/Rock3.png
models/Rock_Model/pictures/Tomb1.jpg
models/Rock_Model/pictures/Tomb2.jpg
models/Rock_Model/pictures/Tomb3.jpg
models/Room_Model/.mayaSwatches/Room.mb.swatches
models/Room_Model/Room.mb
models/Room_Model/pictures/Bed.jpg
models/Room_Model/pictures/Bottle.jpg
models/Room_Model/pictures/Copper.jpg
models/Room_Model/pictures/Stone.jpg
models/Room_Model/pictures/Wood.jpg
models/Room_Model/pictures/WoodFloor.jpg
models/Room_Model/pictures/WoodWall.jpg
models/Room_Model/pictures/WoodWall1.jpg
models/Stealer_Model/.mayaSwatches/Belt.jpeg.swatch
models/Stealer_Model/.mayaSwatches/Cloth.jpg.swatch
models/Stealer_Model/.mayaSwatches/Cutton.jpg.swatch
models/Stealer_Model/.mayaSwatches/Hat.jpg.swatch
models/Stealer_Model/.mayaSwatches/Rope.jpg.swatch
models/Stealer_Model/.mayaSwatches/Scarf.jpg.swatch
models/Stealer_Model/.mayaSwatches/Scuff.jpg.swatch
models/Stealer_Model/.mayaSwatches/Shirt.jpg.swatch
models/Stealer_Model/.mayaSwatches/Trousers.jpeg.swatch
models/Stealer_Model/.mayaSwatches/Trousers.jpg.swatch
models/Stealer_Model/.mayaSwatches/skin.jpg.swatch
models/Stealer_Model/Stealer with joint.mb
models/Stealer_Model/StealerWithPos.mb
models/Stealer_Model/pictures/Belt.jpeg
models/Stealer_Model/pictures/Cloth.jpg
models/Stealer_Model/pictures/Hat.jpg
models/Stealer_Model/pictures/Scarf.jpg
models/Stealer_Model/pictures/Shirt.jpg
models/Stealer_Model/pictures/skin.jpg
models/WIFE_Model/Dress.mb
models/WIFE_Model/WIFE.mb
models/WIFE_Model/casual22.mb
models/Weapon_Model/Weapon1.mb
models/Weapon_Model/pictures/Weapon1.jpg
models/Weapon_Model/pictures/Weapon2.jpg
models/Weapon_Model/pictures/Weapon3.jpg
models/WifeZombie_Model/WifeZombie with crv.mb
models/WifeZombie_Model/WifeZombie.mb
models/WifeZombie_Model/actions/WifeZombie_Attack.mb
models/WifeZombie_Model/actions/WifeZombie_Attack2.mb
models/WifeZombie_Model/actions/WifeZombie_Attack3.mb
models/WifeZombie_Model/actions/WifeZombie_Beaten.mb
models/WifeZombie_Model/actions/WifeZombie_Beaten2.mb
models/WifeZombie_Model/actions/WifeZombie_Run.mb
models/WifeZombie_Model/actions/WifeZombie_Stand.mb
models/WifeZombie_Model/actions/WifeZombie_Walk.mb
models/WifeZombie_Model/pictures/Dress.jpg
models/WifeZombie_Model/pictures/Hair.jpg
models/WifeZombie_Model/pictures/WifeZombie.png
models/Zombie_Model/Zombie2 with crv.mb
models/Zombie_Model/Zombie2.mb
models/Zombie_Model/actions/Zombie_Defence.mb
models/Zombie_Model/actions/Zombie_Defence2.mb
models/Zombie_Model/actions/Zombie_Offence.mb
models/Zombie_Model/actions/Zombie_Offence2.mb
models/Zombie_Model/actions/Zombie_Pose_1.mb
models/Zombie_Model/actions/Zombie_Walk_1.mb
models/Zombie_Model/pictures/MaleZombie.BMP
models/scenes/Material/pictures/sky.jpg
models/scenes/Material/village/.mayaSwatches/bcb1516a704e209f3f8c04dab39d916a.png.swatch
models/scenes/Material/village/.mayaSwatches/chuang1.jpg.swatch
models/scenes/Material/village/.mayaSwatches/hongzhuan.jpg.swatch
models/scenes/Material/village/.mayaSwatches/men1.jpg.swatch
models/scenes/Material/village/.mayaSwatches/qiangbi1.jpg.swatch
models/scenes/Material/village/.mayaSwatches/qiangbi2.jpg.swatch
models/scenes/Material/village/.mayaSwatches/win_shut_03.tga.swatch
models/scenes/Material/village/bcb1516a704e209f3f8c04dab39d916a.png
models/scenes/Material/village/chuang1.jpg
models/scenes/Material/village/hongzhuan.jpg
models/scenes/Material/village/men1.jpg
models/scenes/Material/village/qiangbi1.jpg
models/scenes/Material/village/qiangbi2.jpg
models/scenes/Material/village/win_shut_03.tga
models/scenes/asdasd.mb
models/scenes/home.mb
models/scenes/village.mb
models/scenes/village.rar
resources/files/archives.txt
resources/files/dialogue.txt
resources/files/test.txt
resources/images/menu/home1.png
resources/images/menu/home2.png
resources/images/menu/home3.png
resources/images/menu/home4.png
resources/images/menu/logo.png
resources/images/settings/btn_continue_0.png
resources/images/settings/btn_continue_1.png
resources/images/settings/btn_help_0.png
resources/images/settings/btn_help_1.png
resources/images/settings/btn_home_0.png
resources/images/settings/btn_home_1.png
resources/images/settings/btn_load_0.png
resources/images/settings/btn_load_1.png
resources/images/settings/btn_save_0.png
resources/images/settings/btn_save_1.png
resources/images/settings/setting_frame.png
resources/images/settings/setting_frame1.png
resources/images/settings/settings.png
resources/images/settings/settings_MarkMan.png
resources/images/settings/slide_bar.png
resources/images/settings/slide_btn.png
resources/images/tmp/1.jpg
resources/images/tmp/2.jpg
resources/images/tmp/3.jpg
resources/media/PandaSneezes.ogv
resources/music/openclose.ogg
resources/music/test.mp3
codes/.idea/vcs.xml
